/* CSS Document - Developed by Fabio Rocha (http://fabiorochafg.github.io | fabiorochafg@gmail.com) */

* {
    border: 0 none;
    margin: 0;
    outline: 0 none;
    padding: 0;
}
a, a:link, a:active {
    color: #666666;
}
a:hover {
    color: #333333;
    text-decoration: underline;
}
body {
    font-family: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
    font-size: 69%;
}
button,
input[type="button"],
input[type="submit"] {
    clear: both;
    cursor: pointer;
    display: block;
    font-size: 100%;
    height: 26px;
    padding: 0 5px;
}
code {
    background: #F8F8F8;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    padding: 0 3px;
}
dd {
    padding: 0 0 2px;
}
dt {
    clear: left;
    float: left;
    font-weight: bold;
    margin: 0 5px 0 0;
}
fieldset {
    background: #F8F8F8;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    clear: both;
    display: table;
    margin: 10px 0 20px;
    padding: 15px;
}
form {
    margin: 10px 0;
}
footer {
    text-align: center;
}
h1 {
    float: left;
    margin: 10px 0;
}
h1 a {
	background: url(../images/logo.png) no-repeat 0 0;
	display: block;
	height: 100px;
	text-indent: -9000px;
	width: 229px;
}
h2 {
    padding: 10px 0;
}
input[type="email"],
input[type="file"],
input[type="password"],
input[type="text"] {
    border: 1px solid #DDDDDD;
    height: 24px;
    margin: 0 0 18px;
    padding: 0 1%;
}
input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
select:focus,
textarea:focus {
    border: 1px solid #AAAAAA;
}
label {
    margin: 0 0 2px;
    padding: 0 2px 0 0;
}
nav {
    float: right;
    height: 101px;
    margin: 0 0 0 100px;
}
nav a {
    border-bottom: 1px solid #333333;
    color: #333333;
    display: block;
    font-size: 150%;
    font-weight: bold;
    height: 100px;
    line-height: 100px;
    text-decoration: none;
}
nav a:hover,
nav .active a {
    border-bottom: 1px solid #999999;
    color: #999999;
}
nav li {
    float: left;
    list-style: none;
    margin: 0 0 0 30px;
}
section > div {
    min-height: 400px;
}
select {
    border: 1px solid #DDDDDD;
    height: 24px;
    margin: 0 0 18px;
}
select option {
    padding: 3px 5px;
}
select[multiple="multiple"] {
    height: auto;
}
select[multiple="multiple"] option {
    padding: 5px;
}
table {
    border-spacing: 0;
    width: 100%;
}
td, th {
    padding: 5px;
}
textarea {
    border: 1px solid #DDDDDD;
    height: 130px;
    margin: 1px 0 5px;
    width: 480px;   
}
ul {
    line-height: 1.5em;
}
ul ul {
    padding: 0 0 0 15px;
}
#breadcrumbs {
	display: inline-block;
	width: 100%;
}
#breadcrumbs li {
	float: left;
	list-style: none;
}
#breadcrumbs p {
	float: left;
	margin: 0 5px 0 0;
}
#breadcrumbs ul.breadcrumb {	
	float: left;
	padding: 0;
}
#breadcrumbs .divider {
	padding: 0 3px;
}
#content {
	float: right;
	padding: 1%;
	width: 98%;
}
#content ol,
#content ul {
	padding: 0 0 10px 20px;
}
#content p {
	line-height: 1.5em;
	padding: 0 0 10px;
	text-align: justify;
}
#content.bothbar {
	display: inline-block;
	float: none;
	width: 56%;
}
#content.leftbar,
#content.rightbar {
	width: 77%;
}
#content.rightbar {
	float: left;
}
#left,
#right {
	padding: 1%;
	width: 19%;
}
#left {
	float: left;
}
#left input[type="password"],
#left input[type="text"],
#right input[type="password"],
#right input[type="text"] {
	width: 98%;
}
#right {
	float: right;
}
#search {
	clear: right;
	float: right;
	margin: 10px 0 0;
	width: 165px;
}
#search button {
	clear: none;
	float: left;
	height: 27px;
	margin: 6px 0 0;
	padding: 0 0 3px;
	width: 40px;
}
#search form {
	margin: 0;
}
#search input[type="text"] {
	border: 1px solid #ddd;
	float: left;
	font-size: 95%;
	height: 25px;
	margin: 6px 0 0;
	text-indent: 3px;
	width: 117px;
}
.container {
	clear: both;
	margin: 0 auto;
	max-width: 1200px; 
	min-width: 1000px;
	overflow: hidden;
}
.element-invisible {
	display: block;
	height: 0;
	margin: 0;
    padding: 0;
	text-indent: -9000px;
	width: 0;
}

/* Joomla Structure */
dl.article-info {
	color: #666666;
    font-size: 90%;
	padding: 0 0 20px;
}
ul.actions {
	float: right;
}
ul.actions li {
    float: left;
    list-style: none;
    margin: 0 0 0 8px;
}
ul.actions li a {
    display: block;
    height: 16px;
    text-indent: -9000px;
    width: 16px;
}
ul.actions li:hover a {
    opacity: 0.6;
}
ul.actions li.email-icon a {
    background: url(../images/icon-email.png) 0 0 no-repeat;
}
ul.actions li.print-icon a {
    background: url(../images/icon-print.png) 0 0 no-repeat;
}
#system-message-container .alert p {
    margin: 0 0 5px;
    padding: 5px 10px;
}
#system-message-container .alert.alert-error p {
    background: #FFDDDD;
}
#system-message-container .alert.alert-notice p {
    background: #BFDDF2;
}
#system-message-container .close {
    cursor: pointer;
    float: right;
}
.page-header {
	display: inline-block;
	width: 100%;
}
.tip-title {
    font-weight: bold;
}
.tip-wrap {
    background: #FEF8CF;
    border: 1px solid #EEEEEE;
    border-radius: 3px;
    color: #555555;
    font-size: 95%;
    padding: 6px 10px;
}

/* Media-queries */
@media print {  
    * {
        margin: 0 !important;
        padding: 0 !important;
    }
    body {
        color: #000000;
        font: 9pt serif;
    }
    a:link, a:visited {
        color: #333333;
        text-decoration: none;
    }
    footer,
    h1,
    nav {
        display: none !important;
    }
    table {
        font: 8pt serif;
    }
}
@media only screen and (max-device-width: 480px), only screen and (min-device-width: 481px) and (max-device-width: 991px) and (orientation:portrait), only screen and (min-device-width: 481px) and (max-device-width: 991px) and (orientation:landscape) {
	#content,
	#left,
	#right {
		float: none;
		width: 98%;
	}
	section > div {
		min-height: 40px;
	}
	.container {
		max-width: 95%;
		min-width: 95%;
	}
}
@media only screen and (max-device-width: 480px) {

}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait), only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {

}
@media screen and (min-width: 1440px) {

}
@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 940px) {
	h1 {
        float: left;
        margin: 0;
        width: 100%;
    }
    h1 a {
        background: url(../images/logo.png) no-repeat center 0;
        width: 100%;
    }
    nav {
        display: inline-block;
        float: none;
        margin: 0;
        width: 100%;
    }
    nav a {
        height: 50px;
        line-height: 50px;
        text-align: center;
    }
    nav li {
    	float: none;
        margin: 0;
        width: 100%;
    }
	.container {
		max-width: 95%;
		min-width: 95%;
	}
}