/* CSS Document - Developed by Fabio Rocha (https://github.com/fabiorochafg | fabiorochafg@gmail.com) */

h1 a {
	background: url(../images/logo.png) no-repeat 0 0;
	display: block;
	height: 100px;
	text-indent: -9000px;
	width: 229px;
}
#breadcrumbs {
	display: inline-block;
	width: 100%;
}
#breadcrumbs li {
	float: left;
	list-style: none;
}
#breadcrumbs p {
	float: left;
	margin: 0 5px 0 0;
}
#breadcrumbs ul.breadcrumbs {	
	float: left;
	padding: 0;
}
#content {
	float: right;
	padding: 1%;
	width: 98%;
}
#content ol,
#content ul {
	padding: 0 0 10px 20px;
}
#content p {
	line-height: 1.5em;
	padding: 0 0 10px;
	text-align: justify;
}
#content.bothbar {
	display: inline-block;
	float: none;
	width: 56%;
}
#content.leftbar,
#content.rightbar {
	width: 77%;
}
#content.rightbar {
	float: left;
}
#footer {
	text-align: center;
}
#left,
#right {
	padding: 1%;
	width: 19%;
}
#left {
	float: left;
}
#left input[type="password"],
#left input[type="text"],
#right input[type="password"],
#right input[type="text"] {
	width: 98%;
}
#main > div {
	min-height: 400px;
}
#menu {
	float: left;
	height: 40px;
	margin: 30px 0 30px 100px;
}
#menu li {
	float: left;
	height: 40px;
	line-height: 40px;
	list-style: none;
	margin: 0 20px 0 0;
}
#right {
	float: right;
}
#search {
	clear: right;
	float: right;
	margin: 10px 0 0;
	width: 165px;
}
#search button {
	clear: none;
	float: left;
	height: 27px;
	margin: 6px 0 0;
	padding: 0 0 3px;
	width: 40px;
}
#search form {
	margin: 0;
}
#search input[type="text"] {
	border: 1px solid #ddd;
	font-size: 95%;
	height: 25px;
	margin: 6px 0 0;
	text-indent: 3px;
	width: 117px;
}
.container {
	clear: both;
	margin: 0 auto;
	max-width: 1200px; 
	min-width: 1000px;
	overflow: hidden;
}
.element-invisible {
	display: block;
	height: 0;
	margin: 0;
    padding: 0;
	text-indent: -9000px;
	width: 0;
}


/* Media-queries */
@media only screen and (max-device-width: 480px), only screen and (min-device-width: 481px) and (max-device-width: 991px) and (orientation:portrait), only screen and (min-device-width: 481px) and (max-device-width: 991px) and (orientation:landscape) {
	#content,
	#left,
	#right {
		float: none;
		width: 98%;
	}
	#main > div {
		min-height: 40px;
	}
	#menu {
		display: inline-block;
		margin: 10px 0;
		width: 100%;
	}
	.container {
		max-width: 95%;
		min-width: 95%;
	}
}
@media only screen and (max-device-width: 480px) {

}
@media only screen and (min-device-width: 481px) and (max-device-width: 991px) and (orientation:portrait), only screen and (min-device-width: 481px) and (max-device-width: 991px) and (orientation:landscape) {

}
@media screen and (min-width: 1440px) {

}
@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 940px) {
	.container {
		max-width: 95%;
		min-width: 95%;
	}
}